<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.com.satyam.seguimiento" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Seguimiento</name>
    <description>
        Muestra la posición en OpenStreetMap.
    </description>
    <author email="satyam@satyam.com.ar" href="http://satyam.com.ar">
        Daniel Barreiro
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="false" />
    <preference name="KeepRunning" value="false" />
    <preference name="LoadingDialog" value="Seguimiento,Cargando..." />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.2" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.3.0" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.1" />
    <plugin name="cordova-sqlite-storage" source="npm" spec="~1.4.7" />
    <icon src="icon.png" />
    <platform name="android">
        <icon qualifier="ldpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon qualifier="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon qualifier="hdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon qualifier="xhdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon qualifier="xxhdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon qualifier="xxxhdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash qualifier="land-ldpi" src="www/res/screen/android/drawable-land-ldpi-screen.png" />
        <splash qualifier="land-mdpi" src="www/res/screen/android/drawable-land-mdpi-screen.png" />
        <splash qualifier="land-hdpi" src="www/res/screen/android/drawable-land-hdpi-screen.png" />
        <splash qualifier="land-xhdpi" src="www/res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash qualifier="land-xxhdpi" src="www/res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash qualifier="land-xxxhdpi" src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash qualifier="port-ldpi" src="www/res/screen/android/drawable-port-ldpi-screen.png" />
        <splash qualifier="port-mdpi" src="www/res/screen/android/drawable-port-mdpi-screen.png" />
        <splash qualifier="port-hdpi" src="www/res/screen/android/drawable-port-hdpi-screen.png" />
        <splash qualifier="port-xhdpi" src="www/res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash qualifier="port-xxhdpi" src="www/res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash qualifier="port-xxxhdpi" src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <access origin="*" subdomains="true" />
    <allow-navigation href="http://*.openstreetmap.org/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="android" spec="~5.1.1" />
</widget>
